<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interatividade</title>
   
</head>
<body>
   
        <p>
            <label for="txtn1">Digite primeiro número :</label>
            <input type="number" name="in1" id="txtn1" required  oninput="Media()">
        </p>
   
        <p>
            <label for="txtn2">Digite Outro número :</label>
            <input type="number" name="in2" id="txtn1" required  oninput="Media()">
        </p>
      <p>
        <label for="output">Resuladp :</label>
        <output name="" for="output"></output>
      </p>
       <p>
       <input type="button" value="Enviar" id="output" oninput="Media()">
        <input type="reset" value="Voltar">
       </p>
       <script>
        function Media(){
            var n1=window.document.getElementById("txtn1");
            
            var n2=window.document.getElementById("txtn2");
            var valor1=Number(n1.value);
            var valor2=Number(n2.value);
            var Res= valor1/valor2;
            output.innerHTML=Res
           
            
        
        }
       </script>
   

</body>
</html>