<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interatividade</title>
   
</head>
<body>
   
        <p>
            <label for="txtn1">Digite primeiro número :</label>
            <input type="number" name="in1" id="txtn1" required autocomplete="cc-number">
        </p>
   
        <p>
            <label for="txtn2">Digite Outro número :</label>
            <input type="number" name="in2" id="txtn1" required autocomplete="cc-number">
        </p>
       <p>
        <label for="output">Resultado = </label>
        <output name="" for="output"></output>
       </p>
       <p>
        <input type="submit" value="Enviar " onclick="Media()">
        <input type="reset" value="Voltar">
       </p>
       <script src="static.script.js"></script>
   

</body>
</html>